@font-face {
    font-family: "ATH";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/Athelas-Regular.woff") format("woff");
}
@font-face {
    font-family: "BS-B";
    src: url("/assets/fonts/BioSans-Bold.eot");
    src: url("/assets/fonts/BioSans-Bold.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/BioSans-Bold.woff2") format("woff2"),
        url("/assets/fonts/BioSans-Bold.woff") format("woff"),
        url("/assets/fonts/BioSans-Bold.ttf") format("truetype"),
        url("/assets/fonts/BioSans-Bold.svg#BioSans-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "BS-R";
    src: url("/assets/fonts/BioSans-Regular.eot");
    src: url("/assets/fonts/BioSans-Regular.eot?#iefix")
        format("embedded-opentype"),
        url("/assets/fonts/BioSans-Regular.woff2") format("woff2"),
        url("/assets/fonts/BioSans-Regular.woff") format("woff"),
        url("/assets/fonts/BioSans-Regular.ttf") format("truetype"),
        url("/assets/fonts/BioSans-Regular.svg#BioSans-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BS-L";
    src: url("/assets/fonts/BioSans-Light.eot");
    src: url("/assets/fonts/BioSans-Light.eot?#iefix")
        format("embedded-opentype"),
        url("/assets/fonts/BioSans-Light.woff2") format("woff2"),
        url("/assets/fonts/BioSans-Light.woff") format("woff"),
        url("/assets/fonts/BioSans-Light.ttf") format("truetype"),
        url("/assets/fonts/BioSans-Light.svg#BioSans-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "BS-I";
    src: url("/assets/fonts/BioSans-Italic.eot");
    src: url("/assets/fonts/BioSans-Italic.eot?#iefix")
        format("embedded-opentype"),
        url("/assets/fonts/BioSans-Italic.woff2") format("woff2"),
        url("/assets/fonts/BioSans-Italic.woff") format("woff"),
        url("/assets/fonts/BioSans-Italic.ttf") format("truetype"),
        url("/assets/fonts/BioSans-Italic.svg#BioSans-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
}
body {
    background-color: black;
    color: #ff002d;
    width: 100%;
    height: 100%;
    font-family: "BS-R";
}
#landingP {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: rgba(0,0,0,.95);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
#landingP img {
    width: 100%;
}
#record {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: #ff002d;
}
#header {
    width: 100%;
    height: 7%;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 3;
    background-color: black;
    color: #ff002d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
#header img {
    width: 60%;
    padding-left: 10%;
}
#copy {
    width: 100%;
    height: 92%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: 2;
    color: #ff002d;
}
#copyBody {
    width: 100%;
    height: 50%;
    position: fixed;
    left: 0;
    bottom: -40%;
    background-color:rgba(0,0,0,.9);
    overflow: hidden;
}
#copyHeadline {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 70%;
}
#copyHeadline h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}
#cbText {
    height: 50%;
    overflow-y: scroll;
    padding: 5% 8%;
    opacity: 0%;
    font-size: 24px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-top: 5%;
    line-height: 26px;
    letter-spacing: 2px;
}
#cbText::-webkit-scrollbar {
    display: none;
}
#images {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
#instructText {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 4%;
    left: 0%;
    font-size: 14px;
    display: block;
}
#forwardText {
    position: fixed;
    right: 10%;
    bottom: 2%;
    font-size: 60px;
    color: #b5d3d1;
    z-index: 2;
    display: none;
}
#closeText {
    position: fixed;
    left: 10%;
    bottom: 4%;
    font-size: 20px;
    color: #b5d3d1;
    z-index: 2;
    display: none;
}
.redCircle {
    width: 30px;
    height: 30px;
    background-color: #ff002d;
    border-radius: 30px;
    position: absolute;
    right: 5%;
    top: 46%;
    z-index: 2;
}
.redCircle1 {
    width: 18px;
    height: 18px;
    background-color: #ff002d;
    border-radius: 18px;
}
#landingCont {
    width: 50%;
}
#instChangeImage {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items:center;
    margin-top:16%;
}
.green {
    color: #94be8c;
}
.blue {
    color: #b5d3d1;
}
#instChangeTexte {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items:center;
}
#continue {
    width: 100%;
    font-size: 14px;
    margin-top: 8%;
    text-align: center;
}
#mobileOnly {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: black;
    color: #ff002d;
    justify-items: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    z-index: 10;
}
@media screen and (min-width: 769px) {
    #mobileOnly {
        display: grid !important;
    }
}