/* -----------------------------------------   UNIVERSE -------------------------------------*/

:root {
    --black : black;
    --primary: #ff002d;
    --secondary: #b5d3d1;
    --accent: #94be8c;
    --regular: "BS-R", sans-serif;
    --tileSize: 18px;
  }
  

#universe {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 0%;
    transition: opacity 1s;
    image-rendering: pixelated;
    /* filter: blur(10px); */
  }
  #camera {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    overflow: hidden;
    /* cursor: crosshair; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    user-select: none;
    pointer-events: none;
  }
  #camera::-webkit-scrollbar {
    display: none;
  }
  #adminUI {
    width: 20%;
    height: 15%;
    background-color:rgb(0, 0, 0, 0.8);
    color: #ff002d;
    border: .5px solid #ff002d;
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 4;
    cursor: move;
    padding: 2% 3%;
    font-size: 1em;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 1s;
  }
  #selection {
    width: var(--tileSize);
    height: var(--tileSize);
    border: 2px solid #ff002d;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 7;
    pointer-events: none;
    display: none; 
    animation: whiteBoxGlow 1s infinite;
    animation-play-state: paused;
  }
  #explore {
    width: var(--tileSize);
    height: var(--tileSize);
    border: 2px solid blue;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 6;
    pointer-events: none;
    display: none; 
  }
  .uniPlayer {
    width: var(--tileSize);
    height: var(--tileSize);
    border: 2px solid #dadcd57f;
    position: fixed;
    z-index: 5;
    pointer-events: none;
    /* display: none;  */
  }
  #uniEvent {
    width: 18px;
    height: 18px;
    border: 2px solid var(--accent);
    box-shadow: 0 0 0 4px rgba(216, 197, 51, 0.4);
    position: absolute;
    z-index: 5;
    left: 1350px;
    top: 143px;
    pointer-events: none;
  }
  #uniEvent2 {
    width: 18px;
    height: 18px;
    border: 2px solid var(--accent);
    box-shadow: 0 0 0 4px rgba(216, 197, 51, 0.4);
    position: absolute;
    z-index: 5;
    left: 1836px;
    top: 323px;
    pointer-events: none;
  }
  #uniEvent3 {
    width: 18px;
    height: 18px;
    border: 2px solid var(--accent);
    box-shadow: 0 0 0 4px rgba(216, 197, 51, 0.4);
    position: absolute;
    z-index: 5;
    left: 2324px;
    top: 289px;
    pointer-events: none;
  }
  #uniEvent4 {
    width: 18px;
    height: 18px;
    border: 2px solid var(--accent);
    box-shadow: 0 0 0 4px rgba(216, 197, 51, 0.4);
    position: absolute;
    z-index: 5;
    left: 1586px;
    top: 649px;
    pointer-events: none;
  }
  #uniEvent5 {
    width: 18px;
    height: 18px;
    border: 2px solid var(--accent);
    box-shadow: 0 0 0 4px rgba(216, 197, 51, 0.4);
    position: absolute;
    z-index: 5;
    left: 1980px;
    top: 197px;
    pointer-events: none;
  }

  #theGuide {
    width: 18px;
    height: 18px;
    border: 2px solid rgba(254, 132, 26, 0.767);
    box-shadow: 0 0 0 4px rgba(254, 132, 26, 0.395);
    position: absolute;
    z-index: 10;
    pointer-events: none;
  }

  .powerUps {
    width: 150px;
    height: 150px;
    bottom: 4%;
    right: 14%;
    position: fixed;
    z-index: 10;
    pointer-events: none;
    scale: .8;
    opacity: .7;
    pointer-events: auto;
    user-select: auto;
    transition: .3s all;
  }

  .powerUps:hover {
    scale: 1;
    opacity: 1;
  }

  .powerUps img {
    width: 100%;
    height: 100%;
  }

  .cannonIcon {
    width: auto;
    height: 30px;
    position: absolute;
    right: 5%;
    top: -15px;
    z-index: 5;
  }
  .cannonIcon img {
    width: auto;
    height: 100%;
    filter: brightness(.2), contrast(2);
  }
  #tempVidCon, #tempVidCon2 {
    width: 100%;
    height: 100%;  
    overflow: hidden;
  }
  #tempVidCon video, #tempVidCon2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #tempVidHead, #tempVidHead2 {
    width: 100%;
    height: 5%;
    position: absolute;  
    font-family: "BS-R";
    left: 20px;
    top: 8px;
    font-size: 1em;
  }
  #previewUI {
    width: 200px;
    height: 92px;
    padding: 8px 8px;
    background-color:rgb(0, 0, 0, 0.8);
    color: #ff002d;
    border: .5px solid blue;
    position: fixed;
    z-index: 6;
    cursor: move;
    font-size: 1em;
    transition: transform .5s;
    transform: scale(0);
    display: none;
  }
  #exploreUI {
    width: 540px;
    height: 60vh;
    right:72px;
    top:90px;
    background-color:rgb(0, 0, 0, 0.9);
    color: #ff002d;
    border: .5px solid #ff002d;
    position: fixed;
    z-index: 6;
    cursor: move;
    font-size: 1em;
    transition: transform .5s;
    transform: scale(0);
    transform-origin: center;
    padding: 36px;
    /* overflow: hidden;  */
  }
  #exploreUI h1 {
    margin-top: 0px;
    font-family: "BS-R";
  }

  .canonStory {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: scroll;
  }

  .listen {
    color: var(--accent);
    font-size: .8em;
    position: absolute;
    right: 5%;
    top: 7.5%;
    font-family: "BS-R";
    transition: .3s all;
    cursor: pointer;
  }

  .listen:hover {
    color: var(--accent);
    letter-spacing: 5px;
  }

  #exploreUI p {
    margin-top: 0px;
    font-family: "BS-R";
    letter-spacing: 1px;
    line-height: 1.5em;
    color: var(--secondary);
    font-size: 1em;
  }
  #unclaimed {
    width: 100%;
    height: 100%;
    font-family: "BS-R";
  }
  #unclaimedBox {
    width: 100%;
    height: 100%;
  }
  
  #dialogueModal {
    position: absolute;
    width: auto !important;
    z-index: 6;
    top: 50%;
    /* align-self: center;
    justify-content: center; */
    transform: translate(-50%, -50%);
  }

  #GenImgCont {
    position: fixed;
    right: 20%;
    top: 20%;
    z-index: 10;
    width: 30%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.9);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85% 15%;
    overflow: hidden;
  }

  #GenImgCont img {
    width: 100%;
    height: auto;
  }

  #GenImgCont p {
    font-family: "BS-R";
    font-size: 1em;
    color: var(--primary);
    background-color: #0f0f12;
    padding: 8px;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .uniEvents {
    opacity: 0;
    /* animation: whiteBoxInnerGlow 2s infinite;
    animation-play-state: paused; */
  }
  
  @keyframes whiteBoxGlow {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 45, 1);
    }
    70% {
      box-shadow: 0 0 0 30px rgba(255, 0, 45, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 45, 0);
    }
  }

  @keyframes whiteBoxInnerGlow {
    0% {
      background-color: rgba(149, 191, 141, 1);
    }
    70% {
      background-color: rgba(149, 191, 141, 0);
    }
    100% {
      background-color: rgba(149, 191, 141, 0);
    }
  }
  
  #menuUi {
    width: 360px;
    height: 432px;
    background-color:rgb(0, 0, 0, 0.8);
    color: #ff002d;
    border: .5px solid #ff002d;
    box-shadow: #ff002d 0px 0px 12px;
    position: fixed;
    left: 3%;
    top: 5%;
    z-index: 6;
    cursor: move;
    font-size: 1em;
    transition: transform .5s;
    transform: scale(0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  #nftDisplay {
    width: auto;
    height: 100%;
  }
  #nftDisplay img {
    width: auto;
    height: 100%;
  }
  #bt {
    width: 400px;
    height: 200px;
    position: fixed;
    z-index: 6;
    left: 20%;
    top: 20%;
    overflow: hidden;
    box-sizing: border-box;
    background-color:black;
    color: #ff002d;
    border-radius: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    border: 1px solid white;
    transition: opacity 1s;
  }
  #bt:hover > #buttonTest {
    opacity: .4;
  }
  #bt span {
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: "BS-B";
    color: white;
    z-index: 8;
  }
  #bt img {
    max-width: 100%;
    /* max-height: 100%; */
    width: auto;
    transition: .5s all;
  }

  /* DOMAIN FUNCTIONS  */
  .domainFunction {
    width: 100%;
    height: 100%;
    font-family: "BS-R";
  }
  .domainHeader {
    width: 100%;
    height: 4%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    font-size: 1.2em;
  }
  .doaminOwner {
    font-family: "BS-B";
    width: 50%;
    letter-spacing: 1px;
  }
  .domainName {
    font-family: "BS-SB";
    text-align: right;
    width: 50%;
    font-size: .8em;
  }
  .domainInfo {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    margin-bottom: 1%;
  }
  .domainLordImg {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
    .domainLordImg img {
        width: 100%;
        height: auto;
    }
  .domainInfoBlockRight {
    width: 95%;
    height: 98%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    padding-left: 5%;
    padding-bottom: 2%;
  }
  .domainActions {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
  }
  .ampButton, .sabButton {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-family: "BS-R";
    color: var(--secondary);
    border-radius: 10px;
    border: 1px solid var(--secondary);
    transition: .3s all;
    margin-bottom: 2%;
    cursor: pointer;
  }
  .sabButton:hover {
    border: 1px solid var(--primary);
    background-color: #ff002d;
    color: black;
    font-family: "BS-B";
  }
  .ampButton:hover {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: black;
    font-family: "BS-B";
  }
  .domainFunctStatus {
    width: 100%;
    height: 4%;
    margin-bottom: 1%;
    font-size: .8em;
    display: flex;
  }
  .dfsLeft {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .dfsRight {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .chatRoom {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 1%;
    border-bottom: 1px solid var(--primary);
  }

  .chatRoom > div:nth-child(even) .messageSender {
    color: var(--accent) !important;
  }
  .chatRoom > div:nth-child(even) p {
    color: var(--accent) !important;
  }

  .chatInputs {
    width: 100%;
    height: 13%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    margin-top: 5%;
  }
  .chatInputButtons {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .chatMessageContainer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 8% 92%;
    grid-template-rows: 1fr;
    margin-top: 3%;
  }
  .chatInputText {
    width: 96%;
    height: 96%;
    resize: none;
    background-color: rgba(0, 0, 0, 0);
    border-left: none;
    border-right: none;
    border-top: none;
    border-left: .2px solid var(--primary);
    user-select: auto;
    color: var(--secondary);
    letter-spacing: 1px;
    padding-left: 4%;
    display: inline-block;
    font-size: 1em;
    font-family: "BS-R";
  }
  .chatInputText:focus {
    outline: none;
  }
  .sendMessageButton {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    color: var(--accent);
    border: 1px solid var(--accent);
    font-size: 1.1em;
    font-family: "BS-R";
    border-radius: 5px;
    transition: .3s all;
    cursor: pointer;
  }
  .sendMessageButton:hover {
    background-color: var(--accent);
    color: var(--black);
  }
  .messageAvatar {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .messageAvatar img {
    width: 100%;
    height: auto;
  }
  .messageBody {
    width: 96%;
    height: auto;
    padding-left: 4%;
    display: flex;
    position: relative;
  }
  .messageSender {
    width: auto;
    left: 4%;
    top: -9px;
    position: absolute;
    font-size: .9em;
    color: var(--secondary);
    opacity: .5;
    text-transform: uppercase;
  }
  .messageText {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: center;
    font-size: .9em !important;
    padding-top: 1%;
  }

  /* Element Help */
  #elHelp {
    width: 10%;
    height: auto;
    background-color: rgb(198, 160, 24, .8);
    border: 1px solid rgb(198, 160, 24) ;
    font-family: "BS-B";
    color: black;
    position: absolute;
    z-index: 9;
    font-size: .9em;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  /* BEACON TUT */
  .beaconPanel {
    width: 40%;
    height: 40%;
    position: fixed;
    z-index: 8;
    right: 2%;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid var(--accent);
    border-top: 1px solid var(--accent);
    /* box-shadow: 0px -10px 10px -10px var(--accent); */
    box-shadow: 0px 10px 10px -10px var(--accent),  0px -10px 10px -10px var(--accent), inset 0px 10px 10px -10px var(--accent), inset 0px -10px 10px -10px var(--accent);
    border-radius: 10px;
    display: none;
    user-select: auto;
    pointer-events: auto;
  }

  #uniMenu {
    font-family: "BS-R";
  }

  #beaconBG {
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
  }

  #beaconBG svg {
   opacity: .1;
   stroke: none;
   pointer-events: none;
   user-select: none;
  }

  #beaconBG svg path {
    stroke: rgb(0, 0, 0, 0.9);
    stroke-width: 1px;
    fill: var(--accent);
  }

  #beaconBG svg:nth-child(1) {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    justify-self: center;
    transform: scale(2);
    animation: Scale 10s infinite;
    animation-play-state: paused;
  }

  #beaconBG svg:nth-child(2) {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    justify-self: center;
    transform: rotate(25deg) scale(.9);
    animation: Scale2 10s infinite;
    animation-play-state: paused;
  }

  @keyframes Scale {
    0% {
      transform: scale(2.3);
      opacity: .15;
    }
    50% {
      transform: scale(1.7);
      opacity: .1;
    }
    100% {
      transform: scale(2.3);
      opacity: .15;
    }
  }

  @keyframes Scale2 {
    0% {
      transform: scale(2) rotate(25deg);
      opacity: .1;
    }
    50% {
      transform: scale(3) rotate(25deg);
      opacity: .1.6;
    }
    100% {
      transform: scale(2) rotate(25deg) ;
      opacity: .1;
    }
  }

  #beaconTutIcon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 45%;
    bottom: -30px;
    padding: 5px;
    border: 1px solid var(--accent);
    box-shadow: 0px 0px 5px 1px var(--accent);
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: transform .5s;
    cursor: pointer;
    z-index: 100;
  }

  #beaconTutIcon:hover {
    transform: rotate(90deg);
    border: 1px solid var(--primary) !important;
    box-shadow: 0px 0px 5px 1px var(--primary);
  }

  #beaconBody{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }

  #beaconTutHead {
    height: 15%;
    font-family: "BS-R";
    font-size: 1.1em;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: center;
  }

  #beaconTutBody {
    height: 40%;
    font-family: "BS-R";
    color: var(--secondary);
    font-size: .9em;
    width: 70%;
    letter-spacing: 1px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  #beaconTutActions {
    height: 30%;
    font-family: "BS-R";
    font-size: .9em;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    gap: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    bottom: 5%; */
  }

  .beaconActions {
    width: 25%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "BS-R";
    font-size: .9em;
    letter-spacing: 2px;
    color: var(--accent);
    border: 1px solid var(--accent);
    cursor: pointer;
    transition: .3s all;
  }

  .beaconActions:hover {
    background-color: var(--accent);
    color: black;
    font-family: "BS-B";
  }

  .chr-textElement {
    font-family: "BS-R";
    font-size: .9em;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.5em;
  }

  .sceneElement {
    transition: .3s all;
    cursor: pointer !important;
    opacity: 0%;
    transform-origin: center;
  }

  .sceneElement:hover {
    scale: 1.2;
  }

  #element1Shadow {
    transition: 1.5s all;
    opacity: 70%;
    cursor: pointer !important;
  }

  .sceneElement:hover > #element1Shadow {
    transform: scale(1.22);
    opacity: 100%;
  }

  #viewEditor {
    transition: .3s all;
    cursor: pointer;
  }

  #viewEditor:hover {
    border: 1px solid var(--accent) !important;
  }

  .currentScene {
    overflow: hidden;
    container-type: inline-size;
  }


  .portalsBlock {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }

  .portalsBlock > a {
    fill: var(--secondary);
    transition: .3s all;
    cursor: pointer;
  }

  .portalsBlock > a:hover {
    transform: scale(2);
    fill: var(--primary);
  }

  /* .chr-textElement {
    transition: .3s all;
  }

  .chr-textElement:hover {
    scale: 1.02;
  } */

  /* DIALOGUE SCENE */

  .choices {
    width: 18%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20%;
    position: fixed;
    bottom: 8%;
    right: 8%;
    align-items: center;
    font-family: "BS-R";
    z-index: 31;
    transition: .5s all ease-in-out;
  }

  .choice {
    width: 100%;
    height: 35pt;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: "BS-R";
    padding-right: 10%;
    border: 1px solid #ff002d;
    letter-spacing: .5em;
    cursor: pointer;
    transition: .3s all;
    font-size: .9em;
    margin-bottom: 5%;
  }

  .choice:hover {
    border: 1px solid var(--accent);
    color: var(--accent);
    font-family: "BS-B";
    letter-spacing: .8em;
  } 

  @keyframes blinkingChoice {
    0% {
      border: 1px solid var(--accent);
      color: var(--accent);
    }
    50% {
      background-color: var(--accent);
      color: black;
      font-family: "BS-B";
      letter-spacing: 1em; 
    }
    100% {
      border: 1px solid var(--accent);
      color: var(--accent);
    }
  }

  /* DIALOGUE SCENE END */

  /* DIGISETTE RING */
  #ringView {
    width: 30%;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: end;
    align-items: center;
    position: fixed;
    z-index: 10;
    position: fixed;
    bottom: 1%;
    right:-7%;
    pointer-events: none;
    user-select: none;
    transition: .3s all;
  }

  #ringView:hover {
    transform: scale(1.1);
  }
  /* DIGISETTE RING END */

  .it3 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .nftElement {
    width: 30pt;
    height: 30pt;
    background-color: aqua;
  }

  .nftElement img {
    display: none;
    width: 100%;
    height: 100%;
  }



  @container (width <= 900px) {
    .chr-textElement p{
      width: 100%;
      right: -400% !important;
    }
    .chr-textElement {
      position: absolute;
      overflow: visible;
      width: 55% !important;
      font-size: .8em;
      right: -10% !important;
    }
  }

  @media screen and (max-width: 1024px) {
      /* BEACON TUT */
  .beaconPanel {
    width: 90%;
    height: 65%;
    position: fixed !important;
    z-index: 40 !important;
    right: 5%;
    top: 5%;
  }

  }

 /* --------------------------MAPPER START ------------------*/
 #mapperBut {
  transition: .3s all;
}

#mapperBut:hover {
  cursor: pointer;
  color: var(--accent);
  letter-spacing: 2px;
}

#mapperUI {
  width: 18%;
  height: 90%;
  position: fixed ;
  top: 5%;
  left: 2%;
  background-color: rgba(0,0,0,0.9);
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5pt;
}

#mapperHeader {
  width: 100%;
  height: 5%;
  display: grid;
  grid-template-columns: 50% 15% 35%;
  grid-template-rows: 1fr;
  border-bottom: .5px solid #ff002d;
  font-family: "BS-R";
}

#mapperJson {
  width: 100%;
  height: 100%;
}

#mapperJson a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#mapperTitle {
  padding-left: 20%;
  justify-self: start;
  align-self: center;
  cursor: pointer;
}


#mapperClose {
  padding-right: 20%;
  justify-self: end;
  align-self: center;
  scale: 1.2;
  transition: .3s all;
}

#mapperClose:hover {
  cursor: pointer;
  scale: 1.8;
  padding-right: 15%;
}

#domainStats {
  width: 100%;
  height: 25%;
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: start;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mLeftSect {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
  padding-left: 20%;
}

.mRightSect {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
  color: var(--secondary);
}

#domainRegion {
  width: 100%;
  height: 20%;
  float: left;
  display: grid;
  border-bottom: .5px solid #ff002d;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  align-items: center;
  justify-items: start;
  overflow: hidden;
}

#labels {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  transition: .3s all;
}

#labelDesc {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: start;
}

.label {
  height: 99%;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "BS-B";
  transition: .3s all;
  overflow: hidden;
}

.label:hover {
  cursor: pointer;
  border: 3px solid lightgreen;
}

#mapperSelected {
  width: 80%;
  height: 100%;
  padding-left: 20%;
}

#mapperSelectedSel {
  color: var(--secondary);
}

#lb1 {
  background-color: brown;
}
#lb2 {
  background-color: cadetblue;
}
#lb3 {
 background-color: purple !important;
}
#lb4 {
  background-color: darkolivegreen;
}
#lb5 {
  background-color: yellow;
}
#lb6 {
  background-color: blue;
}
#lb7 {
  background-color: red;
}
#lb8 {
  background-color: orange;
}
#lb9 {
  background-color: gray;
}
#lb0 {
  background-color: darkslategray;
}

#mapperSelectors {
  width: 100%;
  height: 12%;
  margin-top: 10%;
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: start;
  justify-items: start;
}

#mapperSelectorLabels {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
  padding-left: 20%;
}

#terrainSelector:hover, #sectorSelector:hover {
  cursor: pointer;
  color: var(--accent);
  font-family: "BS-B";
}

#mapperSelectorValues {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: start;
}

.mapperButs {
  width: 100%;
  height: 10%;
  float: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 10%;
  text-align: center;
  padding: 2%;
  font-family: "BS-R";
}

#saveBut {
  bottom: 0%;
}

#clearBut {
  bottom: 8%;
}

#mapperSaveBut1, #mapperSaveBut2 {
  border: 1px solid var(--accent);
  color: var(--accent);
  transition: .3s all;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 3% 15%;
  width: 64%;
}

#mapperSaveBut1:hover, #mapperSaveBut2:hover {
  cursor: pointer;
  color: black;
  font-family: "BS-B";
  background-color: var(--accent);
}

#mapperClearBut1, #mapperClearBut2 {
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: .3s all;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 3% 15%;
  width: 64%;
}

#mapperClearBut1:hover, #mapperClearBut2:hover {
  cursor: pointer;
  color: black;
  font-family: "BS-B";
  background-color: var(--primary);
}

#mapperVis {
  width: 100%;
  height: 25%;
  float: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  margin-top: 18%;
  text-align: center;
}

#mapperUpload {
  width: 90%;
  height: 100%;
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: "BS-R";
}

#mapperDecisionButtons {
  margin-top: 5%;
  width: 100%;
  height: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#opacitySect {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: "BS-R";
}

#mapperTypeLoader {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: "BS-R";
}

#mapperTypeLoaderBut {
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: "BS-R";
  padding: 5% 20%;
  border: 1px solid var(--accent);
  color: #94be8c;
}

#mapperTypeLoaderBut:hover {
  cursor: pointer;
  color: black;
  font-family: "BS-B";
  background-color: var(--accent);
}
 
 /* --------------------------MAPPER END --------------------*/